.tag_container {
  display: flex;
  justify-content: space-between;
  font-size: var(--smaller-font-size);
}

.tag {
  background-color: hsl(var(--hue), var(--sat), 95%);
  border: 1px solid var(--text-color);
  border-radius: 20px;
  padding: 7px;
}

.tags {
  font-size: var(--smaller-font-size);
}
