.timeline_container {
  margin: 5em auto;
  max-width: 34.15em;
}

.timeline_item {
  max-width: 34em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  position: relative;
  box-sizing: content-box;
}

.timeline_content {
  border-radius: 1em;
  padding: 1em;
  margin: 0 1.8rem;
  cursor: pointer;
}

.timeline_description {
  font-style: italic;
  margin: 1rem 1rem 1rem 0;
  text-align: justify;
  font-size: var(--small-font-size);
}

li {
  text-align: start;
  font-size: var(--small-font-size);
}

.timeline_item h3 {
  font-weight: var(--font-semi-bold);
}

.timeline_item p {
  line-height: 27px;
  color: var(--line-color);
}

.timeline_item:nth-child(odd) {
  border-right: 3px solid var(--text-color);
  padding-right: 3em;
  transform: translateX(-17em);
}

.timeline_item:nth-child(odd) .timeline_content {
  text-align: end;
}

.timeline_item:nth-child(even) {
  border-left: 3px solid var(--text-color);
  padding-left: 3em;
  transform: translateX(17em);
}

.timeline_item:nth-child(odd)::before,
.timeline_item:nth-child(even)::before {
  content: "";
  background: var(--line-color);
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.timeline_item:nth-child(odd)::before {
  right: 0;
}

.timeline_item:nth-child(even)::before {
  left: 0;
}

.timeline_item:nth-child(odd) .timeline_content::before,
.timeline_item:nth-child(even) .timeline_content::before {
  content: "";
  background: var(--line-color);
  box-shadow: 0 0 0.5em var(--line-color-light);
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.timeline_item:nth-child(odd) .timeline_content::before {
  right: -0.5em;
}

.timeline_item:nth-child(even) .timeline_content::before {
  left: -0.5em;
}

@media screen and (max-width: 1150px) {
  .timeline_container {
    width: 80vw;
  }

  .timeline_container .timeline_item {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }

  .timeline_container .timeline_item::before {
    width: 3px;
    height: 2.6em;
    top: -1.3em;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline_container .timeline_item .timeline_content {
    border: 1px solid var(--line-color);
    text-align: start;
  }

  .timeline_container .timeline_item .timeline_content::before {
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
}
